.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.board-row {
    display: flex;
    justify-content: center;
}

.board-game {
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 9fr 5fr;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    height: 25px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 25px;
}

.square:hover {
    background: #ff8c00;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.chat-frame {
    height: inherit;
    background: #eeeeee;
    border: 0px;
    display: grid;
    grid-template-rows: 8fr 1fr;
}

.message-tag-left {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.message-tag-right {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.list-chat {
    overflow: auto;
}

.text-box {
    display: flex;
    background-color: #dddddd;
}

.message-text-box {
    flex-grow: 1;
    border: 0px;
    background-color: #eeeeee;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

.send-button {
    height: 100%;
    border: 0px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    color: #0000ff;
    outline: none;
}

.send-button:hover {
    color: #00b58e;
}

.container-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.game-info-frame {
    text-align: center;
    padding: 10px;
}

.game-info-frame div {
    font-weight: bold;
}

.history-frame {
    height: inherit;
    /* background: #eeeeee; */
    border: 0px;
}

.list-history {
    height: inherit;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.list-history::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.list-history {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}